<form action="/a" method="get">
    <label for="id">Product ID:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">

    <label for="membership">Choose a membership plan:</label>
    <select name="membership" id="membership">
      <option value="free">Free</option>
      <option value="bronze">Bronze</option>
      <option value="silver" selected>Silver</option>
      <option value="Gold">Gold</option>
    </select>
</form>
